.details-content{
    width: 30rem; /* Ajusta el valor según tus necesidades */
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es más grande que la lista */
  }

.typo{
    font-size: 1.2rem;
}


 