main {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/images/hal-gatewood-uxOFlLBB2HY-unsplash.jpg');
    background-size: cover; /* Para cubrir todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; /* Para que no se repita la imagen */
  }
  