<h1 appFontSize20>Cursos</h1>

<div class="d-flex justify-content-end mb-3" *ngIf="(role$ | async) === 'ADMIN' || (role$ | async) === 'DIRECTOR'">
  <button (click)="addCourse()" mat-flat-button color="primary">
    Agregar curso
  </button>
</div>


<app-courses-table
  [role]="(role$ | async)"
  [dataSource]="(courses$ | async) || []"
  (addLectureCourse)="onAddLectureCourse($event)"
  (deleteCourse)="onDeleteCourse($event)"
  (editCourse)="onEditCourse($event)"
  (detailsCourse)="onDetails($event)"
></app-courses-table>
