<h1 appFontSize20>Alumnos</h1>

<div class="d-flex justify-content-end mb-3"  *ngIf="(role$ | async) === 'ADMIN' || (role$ | async) === 'DIRECTOR'">
  <button (click)="addStudent()" mat-flat-button color="primary">
    Agregar alumno
  </button>
</div>

<app-students-table
  [role]="(role$ | async)"
  [dataSource]="(students$ | async) || []"
  (addCourseStudent)="onAddCourseStudent($event)"
  (deleteCourse)="onDeleteStudent($event)"
  (editCourse)="onEditStudent($event)"
  (detailsStudent)="onDetails($event)"
></app-students-table>


<!-- <ng-container *ngIf="students$ | async as students ">
    <ul *ngFor="let student of students">
        <li>{{student.nombre}}</li>
    </ul> 
</ng-container> -->